@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

:root {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 50px;
  text-align: center;
}

header > h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #ccc;
  display: inline-block;
  line-height: 1;
}

header > h1 > b {
  font-size: 50px;
  font-weight: 900;
}

header > h1 > hr {
  border: 2px solid #ef675f;
  margin: 6px 0;
}

.page {
  flex-grow: 1;
}

.wrapper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper > li {
  width: 50%;
  height: 100%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}

.wrapper > li:first-child {
  background-color: #074589;
}

.wrapper > li:last-child {
  background-color: #ef675f;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3vw;
}

.wrapper > li > .tile {
  background: url("./assets//praha-10.svg") no-repeat center 40%;
  background-size: 80%;
  text-shadow: 0.3vw 0.3vw #074589;
}

.wrapper > li:last-child > .tile {
  background: url("./assets//senat.svg") no-repeat center center;
  background-size: 75%;
  text-shadow: 0.3vw 0.3vw #ef675f;
}

@media only screen and (max-width: 767px) {
  header > h1 {
    font-size: 44px;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper > li {
    width: 100%;
    height: 50%;
  }

  .title {
    font-size: 10vw;
  }
}
