@import url("https://use.typekit.net/ijm7lgv.css");

:root {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "filson-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body::before {
  background: url('./assets/pro-desitku-bg.webp');
  filter: opacity(.25);
  background-size: cover;
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
}

header {
  padding: 80px 40px 60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

header > h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #0a3c48;
  display: inline-block;
  line-height: 1;
  border-bottom: 5px solid #94c122;
}

.page {
  position: relative;
  z-index: 1;
  min-height: 50vh;
  max-height: 80vh;
}

.wrapper {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 70%;
  height: 100%;
  align-items: stretch;
}

.wrapper > li {
  width: 50%;
  height: 100%;
  margin: 3px;
}

.wrapper > li:first-child {
  background-color: rgba(10, 60, 72, .85);
  backdrop-filter: saturate(5);
}

.wrapper > li:last-child {
  background-color: rgba(148, 193, 34, .85);
  backdrop-filter: saturate(5);
}

.wrapper > li:first-child:hover {
  background-color: rgba(10, 60, 72, 1);
}

.wrapper > li:last-child:hover {
  background-color: rgba(148, 193, 34, 1);
}

.tile {
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3vw;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tile > b {
  text-transform: none;
  margin-bottom: 10px;
}


@media only screen and (max-width: 1023px) {
  .page {
    min-height: 70vh;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper > li {
    width: 100%;
    height: 50%;
  }

  .tile {
    font-size: 5vw;
  }
}
